.navigation, ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.navication, li{
    font-family: fantasy;
    margin: 20px;
}
.navivation, a{
    text-decoration: none;
    color: black;
}
.logo{
    margin: 10px 20px;
}
.breadcrumbs a{
    font-family: serif;
}
.breadcrumbs{
    margin: -2pc;
}
.breadcrumbs li+li::before{
    font-family: serif;
    content:"/\00a0\00a0\00a0";
}
